@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
/*BODY*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.container{
    display:grid;
    height:200vh;
    grid-template-rows:1fr 30fr 30fr 15fr 1fr ;
    grid-template-areas: 
    "header"
    "pilates"
    "benefits"
    "history"
    "footer";
    gap:0.2rem;
}
/*HEADER*/
header{
    background-color:#E2E2E2;
    grid-area: header;
    position:fixed;
    width: 100%;
}

header img{
    height: 40px;
}

#logo{
    float: left;
    padding:1vh 0 1vh 1vh;
}

nav li{
    float: right;
    list-style-type: none;
    margin-right: 10px;
    padding: 1.5vh 0 0 0;
    margin-top:8px;
}

nav a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.btn-inactive{
    background-color: #FF9900;
    border: 1px solid #000;
    border-radius: 20%;
    padding: 1px 2px 2px 2px;
}

.btn-active{
    border-bottom: 1px solid;
    padding: 1px 2px 2px 2px;
}
/*PILATES*/
#pilates{
    margin-top: 2.3rem;
    padding: 1vh;
    grid-area: pilates;
    background: url(../images/pilates.jpg) 50% 30% / 130% no-repeat;
}

#pilates h1{
    margin: 0 2em 2em 0;
    color:white;
    font-size: 12px;
    padding: 2vh;
    background-color: rgba(0,0,0,.6);
    border-radius: 4px;
}
/*BENEFITS*/
#benefits{
    padding: 3vh;
    grid-area: benefits;
    background: url(../images/benefits.jpg) 45% 53% / 150% no-repeat;
}

#benefits h1{
    color:black;
    font-size: 18px;
}

#benefits ul{   
    font-size: 12px;
    list-style-type: disc;
    margin-left: 2vh;
}

#benefits-list{
    background-color: rgba(226,226,226,.7);
    padding: 2.2vh 1.5vh 2vh 2.2vh;
    border-radius: 4px;
}

/*HISTORY*/
#history{
    padding: 1vh;
    font-size: 1vh;
    grid-area: history;
    background-color: #fff;
}

#history h1{
    background-color: rgba(0,0,0,.6);
    color: #fff;
    padding: 2.2vh 1.5vh 2vh 2vh;
    border-radius: 4px;
    font-size: 12px;
}

/*FOOTER*/
footer{
    color: #e2e2e2;
    background-color: rgba(0,0,0,.85);
    text-align: center;
    font-size: 18px;
    grid-area: footer;
    position:fixed;
    bottom:0;
    width:100%;
}


/*Sign Up page*/

/*Form*/

.form-section{
    grid-area: section1;
}

.signup-form{
    left:10%;
    color: #fff;
    background-color: rgba(0,0,0,.6);  
    max-width:400px;
    position:absolute;
    padding:30px;
    border-radius: 10px;
}

.text-input {
    background: #e2e2e2;
    width:100%;
    height:4vh;
    margin: 10px 0 30px 0;
    border: 1px solid #000;
    border-radius:2px;
    font-size: 2vh;
}

#sign-up-body{
    background: url(../images/signUp.jpg) 57% 27% / 200% no-repeat;
}

#signin-btn {
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    text-align:center;
    font-size:100%;
    background-color:#e2e2e2;
    color:#000;
    display:block;
}

#signin-btn:hover{
    background-color:#FF9900
}

.successful-form{
    margin:30vh 10% 0 0;
    color: #fff;
    background-color: rgba(0,0,0,.6);  
    max-width:400px;
    position:absolute;
    left:15%;
    right:5%;
    padding:30px 30px 30px 50px;
    border-radius: 10px;
}

/* For screens sizes from 414px wide and up */
@media screen and (min-width: 414px){
    .signup-form{
        margin:30vh 10% 0 0;
    }
    .successful-form{
        left:20%;
        right:2%;
        max-width:390px;
        margin:30vh 18% 0 0;
    }

    #history h1{
        font-size: 2vh;
    }

    header img{
        height: 50px;
    }
    
}

/* For screens sizes from 1080px wide and up */
@media screen and (min-width: 1080px){
    .container{gap:0;}

    nav a{
        font-size:2vh;
    }

    .signup-form{
        left: 15%;
    }

    .successful-form{
        top:20%;
        left:38%;
        max-width:390px;
        margin:30vh 30% 0 0;
        padding:30px 10px 30px 40px;
    }

    #sign-up-body{
        background: url(../images/signUp.jpg) 70% 30% / 110% no-repeat;
    }

    #pilates{
        background: url(../images/pilates.jpg) 100% 30% / 50% no-repeat;
    }
    #pilates h1{
        margin: 2em 52% 0 1em;
        font-size: 4vh;
        padding: 2vh;
        background-color: rgba(0,0,0,.6);
    }

    #benefits{
        background: url(../images/benefits.jpg) 0 60% / 50% no-repeat;
    }
    
    #benefits h1{
        color:black;
        font-size: 4vh;
    }
    
    #benefits ul{   
        font-size: 2.5vh;
    }
    
    #benefits-list{
        margin-top:4%;
        margin-left: 51%;
    }

    #history{
        background: url(../images/history.jpg) 100% 50% / 50% no-repeat;
    }

    #history h1{
        font-size: 2.2vh;
        margin-right: 51%;
    }

    .signup-form{
        margin:30vh 10% 0 50vh;
    }

    header img{
        height: 60px;
    }

    nav li{
        margin-top:10px;
    }
}
