@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
/*BODY*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

/*Controls how the main page's sections are displayed*/
.container{
    display:grid;
    height:200vh;
    grid-template-rows:1fr 30fr 30fr 15fr 1fr ;
    grid-template-areas: 
    "header"
    "pilates"
    "benefits"
    "history"
    "footer";
    gap:0.2rem;
}
/*HEADER*/
header{
    background-color:#E2E2E2;
    grid-area: header;
    position:fixed;
    width: 100%;
}

header img{
    height: 40px;
}

#logo{
    float: left;
    padding:1vh 0 1vh 1vh;
}

/*Control text position for links on nav bar*/
nav li{
    float: right;
    list-style-type: none;
    margin-right: 10px;
    padding: 1.5vh 0 0 0;
    margin-top:8px;
}

/*Controls how text located in nav bar is displayed*/
nav a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.btn-inactive{
    background-color: #FF9900;
    border: 1px solid #000;
    border-radius: 20%;
    padding: 1px 2px 2px 2px;
}

.btn-active{
    border-bottom: 1px solid;
    padding: 1px 2px 2px 2px;
}
/*PILATES*/
#pilates{
    margin-top: 2.3rem;
    padding: 1vh;
    grid-area: pilates;
    background: url(../images/pilates.jpg) 50% 30% / 130% no-repeat;
}

/*Changes how the text box behaves*/
#pilates h2{
    margin: 0 2em 2em 0;
    color:white;
    font-size: 15px;
    padding: 2vh;
    background-color: rgba(0,0,0,.6);
    border-radius: 4px;
}
/*BENEFITS*/
#benefits{
    padding: 3vh;
    grid-area: benefits;
    background: url(../images/benefits.jpg) 45% 53% / 150% no-repeat;
}

#benefits h2{
    color:black;
    font-size: 18px;
}

#benefits ul{   
    font-size: 12px;
    list-style-type: disc;
    margin-left: 2vh;
}

#benefits-list{
    background-color: rgba(226,226,226,.7);
    padding: 2.2vh 1.5vh 2vh 2.2vh;
    border-radius: 4px;
}

/*HISTORY*/
#history{
    grid-area: history;
    padding: 1vh;
    background-color: #fff;
}

/*Set color/transparency, margin, padding, border roundness, font size and color for text box*/
#history h2{
    background-color: rgba(0,0,0,.6);
    margin-bottom: 25px;
    padding: 2.2vh 1.5vh 2vh 2vh;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
}

/*FOOTER*/
/*Controls background color/tranparency, the size, position and color of footer*/
footer{
    grid-area: footer;
    background-color: rgba(0,0,0,.85);
    text-align: center;
    font-size: 8px;
    position:fixed;
    bottom:0;
    width:100%;
    color: #e2e2e2;
}

footer h2{
    font-size: 20px;
}

.social-networks{
    text-align: center;
}

.social-networks li{
    display: inline;
}

/*Set size, spaca and color for icons*/
.social-networks i{
    font-size: 200%;
    margin: 5px 1% 0 1%;
    color: #fff;
}


/*Sign Up page*/

/*Form*/
.form-section{
    grid-area: section1;
}

/*Set color and size for form box, set box to always be centered, set color and size of font*/
.signup-form{
    background-color: rgba(0,0,0,.6);  
    padding:30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    color: #fff;
    font-size:18px;
}

/*Controls how input boxes interact with form box*/
.text-input {
    width:100%;
    height:4vh;
    margin: 10px 0 30px 0;
    border: 1px solid #000;
    background: #e2e2e2;
    border-radius:4px;
    font-size: 2vh;
}

#sign-up-body{
    background: url(../images/signUp.jpg) 57% 27% / 200% no-repeat;
}

/*Controls aspects of sign up button*/
#signin-btn {
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    text-align:center;
    font-size:100%;
    background-color:#e2e2e2;
    color:#000;
    display:block;
}

#signin-btn:hover{
    background-color:#FF9900
}

/*Controls how notification box is displayed on confirmation page*/
.successful-form{
    background-color: rgba(0,0,0,.6);  
    padding:30px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    color: #fff;
}

/* For screens sizes from 414px wide and up */
@media screen and (min-width: 414px){

    #history h2{
        font-size: 2vh;
    }

    header img{
        height: 50px;
    }
    
}

/* For screens sizes from 1080px wide and up */
@media screen and (min-width: 1080px){
    .container{gap:0;}

    nav a{
        font-size:2vh;
    }

    #sign-up-body{
        background: url(../images/signUp.jpg) 70% 30% / 110% no-repeat;
    }

    #pilates{
        background: url(../images/pilates.jpg) 100% 30% / 50% no-repeat;
    }
    #pilates h2{
        margin: 2em 52% 0 1em;
        font-size: 4vh;
        padding: 2vh;
        background-color: rgba(0,0,0,.6);
    }

    #benefits{
        background: url(../images/benefits.jpg) 0 60% / 50% no-repeat;
    }
    
    #benefits h2{
        color:black;
        font-size: 5vh;
    }
    
    #benefits ul{   
        font-size: 3vh;
    }
    
    #benefits-list{
        margin-top:1%;
        margin-left: 51%;
    }

    #history{
        background: url(../images/history.jpg) 100% 50% / 50% no-repeat;
    }

    #history h2{
        font-size: 3vh;
        margin-right: 51%;
    }

    header img{
        height: 60px;
    }

    nav li{
        margin-top:10px;
    }
}
