@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
/*BODY*/
body{
    font-family: 'Lato', sans-serif;
}

.container{
    display:grid;
    grid-template-rows: 0.125fr .4fr .2fr 0.8fr;
    grid-template-areas: 
    "header"
    "pilates"
    "benefites"
    "history"
    "footer";
}
/*HEADER*/
header{
    background-color:#E2E2E2;
    grid-template-areas: header;
}

header img{
    height: 8vh;
}

#logo{
    float: left;
    padding:1vh 0 0 1vh;
}

#top-menu li{
    float: right;
    list-style-type: none;
    margin-right: 10px;
    padding: 3vh 0 0 0;
}

#top-menu a{
    color: #000;
    text-decoration: none;
    font-size: 1.5vh;
    font-weight: 400;
}

.sign-up{
    padding:0.3vh;
    border: 0.3vh solid;
    border-radius: 20%;
}

#inactive{
    background-color: #FF9900;
}
/*PILATES*/
#pilates{
    padding: 1vh;
    grid-template-areas: pilates;
    background: url(../images/pexels-koolshooters-6246401.jpg) center / cover no-repeat;
}

#pilates h2{
    margin: 2vh;
    color:white;
    font-size: 1.5vh;
    padding: 2vh;
    background-color: rgba(0,0,0,.4);
    border-radius: 20%;
}
/*BENEFITS*/
#benefits{
    padding: 3vh;
    grid-template-areas: benefits;
    background: url(../images/pexels-mikhail-nilov-7500322.jpg) 45% 65% / cover no-repeat;
}

#benefits h2{
    color:black;
    font-size: 1.5vh;
}

#benefits ul{   
    font-size: 1.3vh;
    list-style-type: none;
    margin-left: 2vh;
}

#benefits-list{
    background-color: rgba(255,255,255,.6);
    padding: 2.2vh 1.5vh 2vh 2vh;
    border-radius: 20%;
}

/*HISTORY*/
#history{
    padding: 1vh;
    font-size: 1vh;
    grid-template-areas: history;
}

/*FOOTER*/
footer{
    background-color: #e2e2e2;
}